# IS362 - Project Two

Choose any three of the “wide” datasets identified in the Week 5 Discussion items. For each of the three chosen datasets:
• Create a .CSV file (or optionally, a MySQL database!) that includes all of the information
included in the dataset. You’re encouraged to use a “wide” structure similar to how the
information appears in the discussion item, so that you can practice tidying and
transformations as described below.
• Read the information from your .CSV file into Python, and use pandas as needed to tidy
and transform your data. [Most of your grade will be based on this step!]
• Perform the analysis requested in the discussion item.
• Your code should be in an Jupyter Notebook, posted to your GitHub repository, and
should include narrative descriptions of your data cleanup work, analysis, and
conclusions.

The three data sets which I have selected for this project are the California Cities data set, the NYC Cause of Death data set, and the Student data set. I have added all three data sets to the repository.

Let's begin with the imports we'll need to begin cleaning and analyzing this data:

In [1]:
import pandas as pd
import numpy as np

# California Cities Data Analysis

Let's start with the California Cities data set. This data set contains information on a variety of cities in the state of California which includes their name, coordinates, elevation, population, total area, and the percentages of land area vs water area.

In [2]:
calidata = pd.read_csv("C:/Users/Jessica/Desktop/John's School/IS362/IS362_Project2/california_cities_data.csv")
calidata

,Unnamed: 0,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01
5,5,AlisoViejo,33.575000,-117.725556,127.0,417.0,47823,7.472,7.472,0.000,19.352,19.352,0.000,0.00
6,6,Alturas,41.487222,-120.542500,1332.0,4370.0,2827,2.449,2.435,0.014,6.342,6.306,0.036,0.57
7,7,AmadorCity,38.419444,-120.824167,280.0,919.0,185,0.314,0.314,0.000,0.813,0.813,0.000,0.00
8,8,AmericanCanyon,38.168056,-122.252500,14.0,46.0,19454,4.845,4.837,0.008,12.548,12.527,0.021,0.17
9,9,Anaheim,33.836111,-117.889722,48.0,157.0,336000,50.811,49.835,0.976,131.600,129.073,2.527,1.92
10,10,Anderson,40.452222,-122.296667,132.0,430.0,9932,6.620,6.372,0.248,17.145,16.504,0.642,3.74
11,11,AngelsCamp,38.068333,-120.539722,420.0,1378.0,3836,3.637,3.628,0.009,9.421,9.397,0.024,0.25
12,12,Antioch,38.005000,-121.805833,13.0,43.0,107100,29.083,28.349,0.734,75.324,73.422,1.902,2.52
13,13,AppleValley,34.516667,-117.216667,898.0,2946.0,69135,73.523,73.193,0.330,190.426,189.570,0.856,0.45
14,14,Arcadia,34.132778,-118.036389,147.0,482.0,56364,11.133,10.925,0.208,28.836,28.296,0.540,1.87
15,15,Arcata,40.866389,-124.082778,NaN,23.0,17231,10.994,9.097,1.897,28.473,23.561,4.912,17.25
16,16,ArroyoGrande,35.120833,-120.586667,36.0,118.0,17716,5.835,5.835,0.000,15.113,15.113,0.000,0.00
17,17,Artesia,33.867222,-118.080556,16.0,52.0,16522,1.621,1.621,0.000,4.197,4.197,0.000,0.00
18,18,Arvin,35.209167,-118.828333,137.0,449.0,19304,4.819,4.819,0.000,12.482,12.482,0.000,0.00
19,19,Atascadero,35.484167,-120.672500,268.0,879.0,28310,26.130,25.641,0.489,67.675,66.409,1.265,1.87
20,20,Atherton,37.458611,-122.200000,18.0,59.0,6914,5.049,5.017,0.032,13.076,12.993,0.082,0.63
21,21,Atwater,37.347778,-120.609167,46.0,151.0,28168,6.096,6.087,0.009,15.788,15.766,0.022,0.14
22,22,Auburn,38.898611,-121.074444,374.0,1227.0,13330,7.166,7.138,0.028,18.560,18.488,0.071,0.38
23,23,Avalon,33.340833,-118.327778,9.0,30.0,3728,2.937,2.935,0.002,7.607,7.602,0.005,0.07
24,24,Avenal,36.004167,-120.128889,246.0,807.0,13239,19.422,19.422,0.000,50.302,50.302,0.000,0.00
25,25,Azusa,34.130556,-117.906944,186.0,610.0,46361,9.669,9.656,0.013,25.042,25.010,0.032,0.13
26,26,Bakersfield,35.366667,-119.016667,NaN,404.0,347483,143.609,142.164,1.445,371.946,368.204,3.742,1.01
27,27,BaldwinPark,34.082778,-117.971667,114.0,374.0,75390,6.786,6.631,0.155,17.575,17.174,0.400,2.28
28,28,Banning,33.931667,-116.897500,716.0,2349.0,29603,23.099,23.099,0.000,59.826,59.826,0.000,0.00
29,29,Barstow,34.900000,-117.016667,664.0,2178.0,22639,41.394,41.385,0.009,107.209,107.186,0.023,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,452,Vista,33.193611,-117.241111,99.0,325.0,93834,18.678,18.678,0.000,48.377,48.377,0.000,0.00
453,453,Walnut,34.033333,-117.866667,171.0,561.0,29172,8.996,8.992,0.004,23.300,23.290,0.010,0.04
454,454,WalnutCreek,37.906389,-122.065000,NaN,131.0,64173,19.769,19.757,0.012,51.201,51.169,0.031,0.06
455,455,Wasco,35.594167,-119.340833,100.0,328.0,25545,9.426,9.426,0.000,24.413,24.413,0.000,0.00
456,456,Waterford,37.645000,-120.767500,52.0,171.0,8456,2.369,2.328,0.041,6.135,6.030,0.105,1.72
457,457,Watsonville,36.920000,-121.763611,9.0,29.0,51199,6.783,6.687,0.096,17.569,17.319,0.250,1.42
458,458,Weed,41.424167,-122.384444,1044.0,3425.0,2967,4.795,4.790,0.005,12.417,12.405,0.012,0.10
459,459,WestCovina,34.056667,-117.918611,110.0,362.0,106098,16.090,16.041,0.049,41.671,41.545,0.126,0.30
460,460,WestHollywood,34.087778,-118.372222,86.0,282.0,34650,1.887,1.887,0.000,4.888,4.888,0.000,0.00
461,461,WestlakeVillage,34.141944,-118.819444,268.0,880.0,8270,5.509,5.185,0.320,14.257,13.430,0.828,5.80
462,462,Westminster,33.751389,-117.993889,12.0,39.0,89701,10.049,10.049,0.000,26.027,26.027,0.000,0.00
463,463,Westmorland,33.037222,-115.621389,NaN,-164.0,2225,0.590,0.590,0.000,1.529,1.529,0.000,0.00
464,464,WestSacramento,38.580556,-121.530278,6.0,20.0,48744,22.846,21.425,1.421,59.172,55.491,3.681,6.22
465,465,Wheatland,39.010000,-121.423056,28.0,92.0,3456,1.486,1.479,0.007,3.848,3.831,0.017,0.45
466,466,Whittier,33.965556,-118.024444,112.0,367.0,85331,14.700,14.700,0.016,37.000,37.000,0.041,0.11
467,467,Wildomar,33.603611,-117.272778,387.0,1270.0,32176,23.688,23.688,0.000,61.351,61.351,0.000,0.00
468,468,Williams,39.154722,-122.149444,25.0,82.0,5123,5.444,5.444,0.000,14.101,14.101,0.000,0.00
469,469,Willits,39.409722,-123.355556,424.0,1391.0,4888,2.803,2.798,0.005,7.260,7.248,0.013,0.17
470,470,Willows,39.524444,-122.193611,42.0,138.0,6166,2.873,2.847,0.026,7.441,7.373,0.068,0.92
471,471,Windsor,38.546111,-122.805278,36.0,118.0,26801,7.293,7.268,0.025,18.888,18.824,0.064,0.34
472,472,Winters,38.525000,-121.970833,40.0,131.0,6624,2.937,2.912,0.025,7.607,7.543,0.065,0.85
473,473,Woodlake,36.416389,-119.099444,134.0,440.0,7279,2.765,2.248,0.517,7.159,5.821,1.338,18.69
474,474,Woodland,38.678611,-121.773333,21.0,69.0,55468,15.303,15.303,0.000,39.634,39.634,0.000,0.00
475,475,Woodside,37.420833,-122.259722,117.0,384.0,5287,11.732,11.732,0.000,30.386,30.386,0.000,0.00
476,476,YorbaLinda,33.888551,-117.813231,82.3,270.0,65237,20.018,19.483,0.535,51.847,50.460,1.387,2.67
477,477,Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.000,0.00
478,478,Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.188,0.72
479,479,YubaCity,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
480,480,Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.013,0.02
481,481,YuccaValley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,0.000,103.639,103.639,0.000,0.00

While we can see that the data in this data set is not necessarily poorly organized, it does have a lot of null values and zero values, so any analysis we want to do on this data will require that we address that. We also see that the first column has no name or explanation for the data it contains. They appear to be unique identifiers for the cities, so let's start by giving that column a descriptive name.

In [3]:
calidata.columns.values[0] = 'city_id'
calidata.head()

,city_id,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01

Let's ask a few questions about the data:
• What city has the highest and lowest elevation? 
• What city has the highest and lowest population?
• What city has the greatest total area?

We'll start by looking at the cities with the highest and lowest elevation. We'll do this by sorting the data according to the elevation column. Although the data set provides the elevation in both meters and feet, we're going to use feet because that column has fewer null values.

Here are the five cities with the highest elevation:

In [4]:
calidata[["city", "elevation_ft"]].sort_values(by=["elevation_ft"], ascending=False).head()

               city  elevation_ft
246    MammothLakes        7880.0
39      BigBearLake        6752.0
416  SouthLakeTahoe        6237.0
436         Truckee        5817.0
242        Loyalton        4951.0

Here are the five cities with the lowest elevation:

In [5]:
calidata[["city", "elevation_ft"]].sort_values(by=["elevation_ft"], ascending=True).head()

            city  elevation_ft
57    Calipatria        -180.0
463  Westmorland        -164.0
45       Brawley        -112.0
81     Coachella         -66.0
187     Imperial         -59.0

Let's move on to the cities with the highest and lowest population. We'll do this in the same way we analyzed the elevation of the cities, by sorting the data according to the population column.

Here are the five cities with the highest population:

In [6]:
calidata[["city", "population_total"]].sort_values(by=["population_total"], ascending=False).head()

             city  population_total
239    LosAngeles           3884307
367      SanDiego           1345895
375       SanJose           1000536
370  SanFrancisco            837442
150        Fresno            509039

Here are the five cities with the lowest population:

In [7]:
calidata[["city", "population_total"]].sort_values(by=["population_total"], ascending=True).head()

           city  population_total
327      Pomona                 1
448      Vernon               112
7    AmadorCity               185
190    Industry               219
366    SandCity               334

But something doesn't seem quite right here. Is it really possible that the city of Pomona California has a population of 1? According to Google, the population of Pomona, CA is 151,348. That's a pretty big difference. Let's correct that value, and then reexamine the data.

In [8]:
calidata.loc[(calidata.city== "Pomona"), "population_total"] = 151348

In [9]:
calidata[["city", "population_total"]].sort_values(by=["population_total"], ascending=True).head()

           city  population_total
448      Vernon               112
7    AmadorCity               185
190    Industry               219
366    SandCity               334
435    Trinidad               367

How about Vernon California? According to Google, their population is 114, as of 2013. Since the data set we're working with does not provide a year, it's not unreasonable to presume that this data, though possibly slightly outdated, is correct.

Finally, let's examine the cities with the greatest total area:

In [10]:
calidata[["city", "area_total_sq_mi"]].sort_values(by=["area_total_sq_mi"], ascending=False).head()

               city  area_total_sq_mi
239      LosAngeles           503.000
367        SanDiego           372.400
370    SanFrancisco           231.890
55   CaliforniaCity           203.631
375         SanJose           179.970

A quick google search confirms that this is correct.

# NYC Cause of Death Data Set

Let's move on to the Academic Journal data set. This data set contains information about the leading causes of death in New York City, by race and gender.

In [11]:
deathdata = pd.read_csv("C:/Users/Jessica/Desktop/John's School/IS362/IS362_Project2/nyc_death_data.csv")
deathdata

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2014,Diabetes Mellitus (E10-E14),F,Other Race/ Ethnicity,11,.,.
1,2011,Cerebrovascular Disease (Stroke: I60-I69),M,White Non-Hispanic,290,21.7,18.2
2,2008,Malignant Neoplasms (Cancer: C00-C97),M,Not Stated/Unknown,60,.,.
3,2010,Malignant Neoplasms (Cancer: C00-C97),F,Hispanic,1045,85.9,98.5
4,2012,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,170,19.9,23.3
5,2007,Mental and Behavioral Disorders due to Use of ...,M,Not Stated/Unknown,.,.,.
6,2011,All Other Causes,F,Not Stated/Unknown,14,.,.
7,2007,Chronic Lower Respiratory Diseases (J40-J47),F,Black Non-Hispanic,163,15.5,14.8
8,2012,Essential Hypertension and Renal Diseases (I10...,F,Hispanic,101,8.2,9.5
9,2009,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Hispanic,1382,123.1,227.9
10,2011,Chronic Lower Respiratory Diseases (J40-J47),M,Other Race/ Ethnicity,.,.,.
11,2008,Cerebrovascular Disease (Stroke: I60-I69),F,Not Stated/Unknown,13,.,.
12,2013,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Black Non-Hispanic,2365,226.4,187.3
13,2010,Cerebrovascular Disease (Stroke: I60-I69),F,Not Stated/Unknown,.,.,.
14,2012,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Asian and Pacific Islander,402,68.8,81.2
15,2012,Malignant Neoplasms (Cancer: C00-C97),M,Black Non-Hispanic,1563,182.7,215.3
16,2011,Cerebrovascular Disease (Stroke: I60-I69),F,Asian and Pacific Islander,98,17.2,20.6
17,2014,"Congenital Malformations, Deformations, and Ch...",F,Not Stated/Unknown,.,.,.
18,2009,All Other Causes,F,Asian and Pacific Islander,220,40.1,48.9
19,2014,Diabetes Mellitus (E10-E14),M,Asian and Pacific Islander,71,12.4,14.2
20,2014,"Accidents Except Drug Posioning (V01-X39, X43,...",M,Black Non-Hispanic,148,17.1,17.7
21,2012,Cerebrovascular Disease (Stroke: I60-I69),F,Black Non-Hispanic,271,25.9,22.1
22,2009,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Asian and Pacific Islander,448,81.6,108.7
23,2014,Essential Hypertension and Renal Diseases (I10...,F,White Non-Hispanic,180,12.7,6.7
24,2008,Certain Conditions originating in the Perinata...,M,Not Stated/Unknown,6,.,.
25,2012,Mental and Behavioral Disorders due to Acciden...,M,Hispanic,173,14.8,15.5
26,2014,Malignant Neoplasms (Cancer: C00-C97),F,Other Race/ Ethnicity,66,.,.
27,2011,Mental and Behavioral Disorders due to Acciden...,F,White Non-Hispanic,88,6.2,6.1
28,2014,"Accidents Except Drug Posioning (V01-X39, X43,...",F,White Non-Hispanic,169,11.9,7.4
29,2008,Cerebrovascular Disease (Stroke: I60-I69),M,White Non-Hispanic,245,18.3,15.4
...,...,...,...,...,...,...,...
1064,2011,Parkinson's Disease (G20),F,Not Stated/Unknown,.,.,.
1065,2012,Alzheimer's Disease (G30),F,Black Non-Hispanic,115,11,8.9
1066,2007,Malignant Neoplasms (Cancer: C00-C97),M,Hispanic,1013,92.9,163.5
1067,2009,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,.,.,.
1068,2014,Diabetes Mellitus (E10-E14),M,Hispanic,186,15.6,23.2
1069,2011,Malignant Neoplasms (Cancer: C00-C97),M,Not Stated/Unknown,27,.,.
1070,2011,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,White Non-Hispanic,5016,354.1,179.8
1071,2007,Chronic Lower Respiratory Diseases (J40-J47),F,Hispanic,116,9.9,12.8
1072,2014,Chronic Lower Respiratory Diseases (J40-J47),M,Hispanic,145,12.1,19.3
1073,2008,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Hispanic,1445,122.3,160.7
1074,2014,Chronic Lower Respiratory Diseases (J40-J47),F,Other Race/ Ethnicity,6,.,.
1075,2010,"Accidents Except Drug Posioning (V01-X39, X43,...",F,Other Race/ Ethnicity,.,.,.
1076,2008,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",F,Black Non-Hispanic,71,6.8,6.3
1077,2013,Malignant Neoplasms (Cancer: C00-C97),M,Hispanic,1146,97.1,148.5
1078,2013,Certain Conditions originating in the Perinata...,F,Not Stated/Unknown,9,.,.
1079,2013,Mental and Behavioral Disorders due to Acciden...,M,Hispanic,188,15.9,16.6
1080,2011,Diabetes Mellitus (E10-E14),F,Black Non-Hispanic,410,39.2,34.7
1081,2010,All Other Causes,M,Hispanic,1167,102.1,150
1082,2009,All Other Causes,F,Hispanic,775,64.7,75.3
1083,2012,"Accidents Except Drug Posioning (V01-X39, X43,...",F,Hispanic,60,4.8,5.2
1084,2008,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,.,.,.
1085,2008,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Other Race/ Ethnicity,35,.,.
1086,2007,All Other Causes,M,Other Race/ Ethnicity,24,.,.
1087,2013,Chronic Lower Respiratory Diseases (J40-J47),M,White Non-Hispanic,437,32.5,26.4
1088,2011,Malignant Neoplasms (Cancer: C00-C97),M,Black Non-Hispanic,1590,186.4,224.4
1089,2013,Essential Hypertension and Renal Diseases (I10...,F,Asian and Pacific Islander,50,8.3,9.3
1090,2009,Chronic Lower Respiratory Diseases (J40-J47),F,White Non-Hispanic,458,31.9,19.1
1091,2014,Certain Conditions originating in the Perinata...,M,Not Stated/Unknown,25,.,.
1092,2010,All Other Causes,M,Black Non-Hispanic,1230,144.5,166.2
1093,2014,Chronic Lower Respiratory Diseases (J40-J47),F,Asian and Pacific Islander,36,5.8,6.3

As we can see, this data has a lot of null values. Unfortunately, instead of leaving the fields blank, there is a "." in those fields. First we will remove those characters so that the null values are reflected correctly.

In [32]:
deathdata = deathdata.replace('.', np.nan)

In my initial analysis of the data, I noticed that the numerical values were sorting in a strange way, with 30 coming up as smaller than 4000. I realized this is because the numbers were not being read correctly.

In [33]:
deathdata[['Deaths']] = deathdata[['Deaths']].apply(pd.to_numeric)
deathdata.dtypes

Year                         int64
Leading Cause               object
Sex                         object
Race Ethnicity              object
Deaths                     float64
Death Rate                  object
Age Adjusted Death Rate     object
dtype: object

Now let's ask some questions about this data:
• What was the leading cause of death for each demographic in 2007?
• What was the leading cause of death for each demographic in 2014?

Leading cause of death for Asian and Pacific Islanders in 2007:

In [34]:
deathdata[(deathdata['Year']==2007) & (deathdata['Race Ethnicity']=='Asian and Pacific Islander')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
781,2007,Malignant Neoplasms (Cancer: C00-C97),M,Asian and Pacific Islander,528.0,109.1,145.9
364,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Asian and Pacific Islander,496.0,102.5,157.8
404,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Asian and Pacific Islander,428.0,83.1,115.2
741,2007,Malignant Neoplasms (Cancer: C00-C97),F,Asian and Pacific Islander,395.0,76.7,88.4
483,2007,All Other Causes,M,Asian and Pacific Islander,221.0,45.7,61.2

Leading cause of death for Black Non-Hispanic in 2007:

In [35]:
deathdata[(deathdata['Year']==2007) & (deathdata['Race Ethnicity']=='Black Non-Hispanic')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
447,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Black Non-Hispanic,2722.0,258.6,247.3
65,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Black Non-Hispanic,2121.0,248.9,340.2
461,2007,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,1800.0,171,161.7
811,2007,Malignant Neoplasms (Cancer: C00-C97),M,Black Non-Hispanic,1523.0,178.7,229.4
715,2007,All Other Causes,F,Black Non-Hispanic,1230.0,116.8,113.4

Leading cause of death for Hispanics in 2007:

In [36]:
deathdata[(deathdata['Year']==2007) & (deathdata['Race Ethnicity']=='Hispanic')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
356,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Hispanic,1418.0,121.5,164.3
837,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Hispanic,1327.0,121.7,238.4
1066,2007,Malignant Neoplasms (Cancer: C00-C97),M,Hispanic,1013.0,92.9,163.5
235,2007,All Other Causes,M,Hispanic,988.0,90.6,142.6
366,2007,Malignant Neoplasms (Cancer: C00-C97),F,Hispanic,969.0,83,100.7

Leading cause of death for Asian and Unknown Races in 2007:

In [37]:
deathdata[(deathdata['Year']==2007) & (deathdata['Race Ethnicity']=='Not Stated/Unknown')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
618,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Not Stated/Unknown,86.0,NaN,NaN
878,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,82.0,NaN,NaN
769,2007,Malignant Neoplasms (Cancer: C00-C97),F,Not Stated/Unknown,51.0,NaN,NaN
40,2007,Malignant Neoplasms (Cancer: C00-C97),M,Not Stated/Unknown,45.0,NaN,NaN
716,2007,All Other Causes,M,Not Stated/Unknown,43.0,NaN,NaN

Leading cause of death for Other in 2007:

In [38]:
deathdata[(deathdata['Year']==2007) & (deathdata['Race Ethnicity']=='Other Race/ Ethnicity')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
637,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Other Race/ Ethnicity,43.0,NaN,NaN
830,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Other Race/ Ethnicity,36.0,NaN,NaN
686,2007,Malignant Neoplasms (Cancer: C00-C97),M,Other Race/ Ethnicity,29.0,NaN,NaN
1086,2007,All Other Causes,M,Other Race/ Ethnicity,24.0,NaN,NaN
255,2007,Malignant Neoplasms (Cancer: C00-C97),F,Other Race/ Ethnicity,22.0,NaN,NaN

Leading cause of death for White Non-Hispanic in 2007:

In [39]:
deathdata[(deathdata['Year']==2007) & (deathdata['Race Ethnicity']=='White Non-Hispanic')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
833,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,White Non-Hispanic,7050.0,491.4,250.7
657,2007,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,White Non-Hispanic,5632.0,421,350.7
476,2007,Malignant Neoplasms (Cancer: C00-C97),F,White Non-Hispanic,3518.0,245.2,167.4
79,2007,Malignant Neoplasms (Cancer: C00-C97),M,White Non-Hispanic,3356.0,250.9,213.7
272,2007,All Other Causes,M,White Non-Hispanic,1749.0,130.7,115.9

Let's examine if and how these numbers changed by 2014:

Leading cause of death for Asian and Pacific Islanders in 2014:

In [40]:
deathdata[(deathdata['Year']==2014) & (deathdata['Race Ethnicity']=='Asian and Pacific Islander')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
210,2014,Malignant Neoplasms (Cancer: C00-C97),M,Asian and Pacific Islander,657.0,114.5,129.5
988,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Asian and Pacific Islander,554.0,96.5,118.5
344,2014,Malignant Neoplasms (Cancer: C00-C97),F,Asian and Pacific Islander,502.0,80.2,80.6
567,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Asian and Pacific Islander,462.0,73.8,81.1
54,2014,All Other Causes,M,Asian and Pacific Islander,424.0,73.9,90.4

Leading cause of death for Black Non-Hispanic in 2014:

In [41]:
deathdata[(deathdata['Year']==2014) & (deathdata['Race Ethnicity']=='Black Non-Hispanic')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
819,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Black Non-Hispanic,2194.0,209.1,169.1
303,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Black Non-Hispanic,1958.0,226.8,264.7
231,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,1852.0,176.5,148.4
810,2014,All Other Causes,F,Black Non-Hispanic,1536.0,146.4,126.4
278,2014,Malignant Neoplasms (Cancer: C00-C97),M,Black Non-Hispanic,1532.0,177.5,199.6

Leading cause of death for Hispanics in 2014:

In [42]:
deathdata[(deathdata['Year']==2014) & (deathdata['Race Ethnicity']=='Hispanic')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
517,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Hispanic,1281.0,107.3,170.5
908,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Hispanic,1230.0,97.1,106.7
304,2014,All Other Causes,M,Hispanic,1195.0,100.1,143.3
526,2014,Malignant Neoplasms (Cancer: C00-C97),F,Hispanic,1154.0,91.1,97.4
271,2014,Malignant Neoplasms (Cancer: C00-C97),M,Hispanic,1146.0,96,143.5

Leading cause of death for Asian and Unknown Races in 2014:

In [43]:
deathdata[(deathdata['Year']==2014) & (deathdata['Race Ethnicity']=='Not Stated/Unknown')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
277,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Not Stated/Unknown,115.0,NaN,NaN
127,2014,All Other Causes,M,Not Stated/Unknown,96.0,NaN,NaN
603,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,95.0,NaN,NaN
355,2014,Malignant Neoplasms (Cancer: C00-C97),M,Not Stated/Unknown,73.0,NaN,NaN
314,2014,Malignant Neoplasms (Cancer: C00-C97),F,Not Stated/Unknown,50.0,NaN,NaN

Leading cause of death for Other in 2014:

In [44]:
deathdata[(deathdata['Year']==2014) & (deathdata['Race Ethnicity']=='Other Race/ Ethnicity')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
264,2014,All Other Causes,M,Other Race/ Ethnicity,74.0,NaN,NaN
612,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Other Race/ Ethnicity,68.0,NaN,NaN
26,2014,Malignant Neoplasms (Cancer: C00-C97),F,Other Race/ Ethnicity,66.0,NaN,NaN
898,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Other Race/ Ethnicity,63.0,NaN,NaN
251,2014,All Other Causes,F,Other Race/ Ethnicity,59.0,NaN,NaN

Leading cause of death for White Non-Hispanic in 2014:

In [45]:
deathdata[(deathdata['Year']==2014) & (deathdata['Race Ethnicity']=='White Non-Hispanic')].sort_values('Deaths', ascending=False).head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
620,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,White Non-Hispanic,4507.0,318,161
633,2014,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,White Non-Hispanic,3990.0,297.1,238.4
953,2014,Malignant Neoplasms (Cancer: C00-C97),F,White Non-Hispanic,3153.0,222.5,150.2
607,2014,Malignant Neoplasms (Cancer: C00-C97),M,White Non-Hispanic,3142.0,234,195.1
726,2014,All Other Causes,F,White Non-Hispanic,2578.0,181.9,110.7

# International Student Data

This data set has a lot of information about international students, including their country of origin, their gender, their age, their dominant hand, their height, shoe size, and armspan, how many languages they speak, how they get to school, and how long it takes them to do so, their reaction time, and their favorite sport.

In [46]:
studentdata = pd.read_csv("C:/Users/Jessica/Desktop/John's School/IS362/IS362_Project2/student_data.csv", encoding='latin-1')
studentdata

,Country,Region,Gender,Age-years,Handed,Height_cm,Footlength_cm,Armspan_cm,Languages_spoken,Travel_to_School,Travel_time_to_School,Reaction_time,Score_in_memory_game,Favourite_physical_activity,Importance_reducing_pollution,Importance_recycling_rubbish,Importance_conserving_water,Importance_saving_enery,Importance_owning_computer,Importance_Internet_access
0,Australia,New South Wales,Female,10,Right-handed,0.0,0.00,0.0,2.0,Car,10.0,0.660,56.0,Netball,1000.0,947.0,1000.0,NaN,1000.0,947.0
1,Australia,Victoria,Female,14,Ambidextrous,174.0,25.00,176.0,1.0,Car,15.0,0.420,31.0,Netball,220.0,509.0,610.0,214.0,1000.0,1000.0
2,New Zealand,Auckland,Female,14,Left-handed,170.0,26.00,160.0,2.0,Bus,25.0,0.375,NaN,Athletics,1000.0,NaN,1000.0,NaN,NaN,NaN
3,UK,South West,Female,15,Right-handed,163.0,22.00,154.0,1.0,Walk,12.0,0.330,41.0,Football/Soccer,871.0,998.0,1000.0,1000.0,871.0,869.0
4,Australia,New South Wales,Female,16,Right-handed,171.0,22.00,162.0,2.0,Bus,40.0,2.470,31.0,Golf,1000.0,941.0,941.0,911.0,1000.0,1000.0
5,Australia,Western Australia,Male,11,Right-handed,146.0,22.00,138.0,1.0,Car,15.0,0.690,36.0,Rugby Union,7.0,111.0,25.0,41.0,539.0,151.0
6,Canada,Alberta,Female,12,Right-handed,156.5,21.00,161.0,1.0,Car,15.0,0.341,37.0,Swimming,824.0,278.0,91.0,219.0,941.0,968.0
7,Australia,Queensland,Male,15,Right-handed,184.0,30.00,184.0,1.0,Bus,25.0,0.510,27.0,None,NaN,NaN,976.0,NaN,982.0,1000.0
8,Canada,Ontario,Female,14,Right-handed,160.0,22.00,166.5,2.0,Bus,35.0,0.391,31.0,Bowling,1000.0,1000.0,1000.0,1000.0,503.0,599.0
9,UK,West Midlands,Male,13,Right-handed,171.0,26.25,171.0,1.0,Walk,20.0,14.080,51.0,Football/Soccer,365.0,723.0,756.0,711.0,1000.0,1000.0
10,Australia,Tasmania,Female,11,Right-handed,147.0,23.00,119.0,2.0,Cycle,10.0,0.370,43.0,Basketball,545.0,1000.0,699.0,1000.0,1000.0,1000.0
11,New Zealand,Auckland,Male,10,Right-handed,140.0,21.00,141.0,1.0,Car,5.0,0.400,NaN,Football/Soccer,1000.0,NaN,1000.0,NaN,NaN,NaN
12,New Zealand,Auckland,Female,10,Right-handed,150.0,25.00,150.0,1.0,Car,5.0,0.621,NaN,Netball,500.0,NaN,1000.0,NaN,NaN,NaN
13,Canada,Ontario,Male,12,Right-handed,148.0,22.00,152.0,1.0,Walk,15.0,0.016,22.0,Football/Soccer,476.0,235.0,219.0,193.0,1000.0,1000.0
14,Canada,Ontario,Male,17,Right-handed,184.5,18.50,170.0,1.0,Bus,90.0,0.470,52.0,Other activities/sports,866.0,112.0,241.0,791.0,845.0,856.0
15,Australia,Victoria,Female,7,Right-handed,121.0,121.00,21.0,1.0,Car,10.0,0.790,45.0,Cycling,1000.0,1000.0,1000.0,1000.0,NaN,72.0
16,UK,East Midlands,Female,11,Right-handed,155.0,23.00,158.0,1.0,Walk,5.0,8.000,88.0,Dancing,560.0,410.0,332.0,500.0,1000.0,1000.0
17,Canada,Ontario,Female,13,Right-handed,111.0,23.00,100.0,1.0,Walk,3.0,0.733,32.0,Swimming,882.0,920.0,524.0,909.0,663.0,668.0
18,Canada,Ontario,Female,12,Right-handed,145.0,24.00,144.5,2.0,Walk,5.0,0.313,29.0,Athletics,818.0,818.0,818.0,824.0,706.0,711.0
19,UK,North West,Female,11,Right-handed,151.0,24.00,148.0,2.0,Car,10.0,0.420,35.0,Hockey (Field),500.0,500.0,1000.0,500.0,1000.0,992.0
20,Canada,Alberta,Female,15,Right-handed,157.5,22.00,158.5,1.0,Car,30.0,1.382,39.0,Other activities/sports,545.0,321.0,791.0,524.0,401.0,508.0
21,Canada,Ontario,Male,12,Ambidextrous,155.0,21.00,154.0,1.0,Car,5.0,0.328,56.0,Hockey (Ice),203.0,209.0,316.0,230.0,872.0,872.0
22,Canada,Ontario,Male,14,Right-handed,170.0,28.00,146.0,1.0,Bus,60.0,0.411,168.0,Hockey (Ice),214.0,193.0,59.0,460.0,947.0,957.0
23,Canada,Ontario,Male,14,Right-handed,168.0,26.00,173.0,1.0,Walk,1.0,0.281,28.0,Football/Soccer,481.0,487.0,487.0,791.0,1000.0,1000.0
24,Australia,Tasmania,Male,16,Right-handed,183.0,26.00,193.0,2.0,Bus,22.0,0.280,31.0,Football/Soccer,722.0,243.0,728.0,905.0,456.0,456.0
25,UK,Home Counties,Male,14,Right-handed,169.0,26.00,166.0,1.0,Car,15.0,0.500,38.0,Skateboarding/Rollerblading,242.0,500.0,743.0,1000.0,470.0,313.0
26,Canada,Ontario,Female,16,Right-handed,165.0,19.00,165.5,1.0,Bus,40.0,0.514,33.0,Swimming,754.0,455.0,123.0,187.0,43.0,176.0
27,Australia,Australian Capitol Territory,Female,8,Right-handed,150.0,25.00,140.0,1.0,Walk,3.0,0.500,53.0,Other activities/sports,196.0,563.0,409.0,383.0,172.0,456.0
28,UK,North West,Female,15,Right-handed,165.0,22.50,168.0,1.0,Car,5.0,3.300,38.0,Dancing,595.0,584.0,964.0,660.0,989.0,1000.0
29,New Zealand,Auckland,Female,13,Right-handed,161.0,23.00,154.0,1.0,Bus,45.0,0.530,NaN,Dancing,500.0,NaN,250.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,USA,GA,Male,11,Right-handed,156.0,27.00,159.0,5.0,Car,6.0,0.023,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
471,USA,MI,Female,17,Right-handed,165.0,22.00,158.0,2.0,Car,12.0,0.233,34.0,Table Tennis,850.0,750.0,900.0,900.0,400.0,800.0
472,USA,SC,Male,17,Right-handed,179.0,25.00,94.0,1.0,Car,30.0,0.047,35.0,Other,497.0,497.0,497.0,NaN,1000.0,1000.0
473,USA,DC,Male,16,Right-handed,73.6,12.00,90.0,1.0,Bus,20.0,0.703,89.0,Bowling,500.0,900.0,850.0,NaN,1000.0,900.0
474,USA,MO,Female,17,Right-handed,157.0,24.00,155.5,1.0,Car,30.0,0.937,NaN,Walking/Hiking,642.0,642.0,503.0,508.0,401.0,401.0
475,USA,PA,Female,17,Right-handed,168.0,24.00,162.0,1.0,Car,10.0,NaN,NaN,Football (American),NaN,NaN,NaN,NaN,NaN,NaN
476,USA,SC,Female,16,Right-handed,161.0,23.00,152.0,1.0,Car,10.0,0.333,38.0,Tennis,100.0,800.0,200.0,850.0,400.0,700.0
477,USA,SC,Male,17,Right-handed,164.0,28.00,164.0,1.0,Car,6.0,0.234,46.0,Walking/Hiking,50.0,51.0,48.0,NaN,1000.0,1000.0
478,USA,NV,Male,13,Right-handed,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,USA,NM,Female,17,Right-handed,162.0,23.00,168.0,2.0,Car,5.0,0.314,71.0,Other,500.0,200.0,100.0,NaN,10.0,20.0
480,USA,OK,Female,15,Right-handed,157.0,22.00,152.0,2.0,Car,10.0,0.733,45.0,Walking/Hiking,100.0,100.0,1000.0,90.0,900.0,800.0
481,USA,CA,Male,17,Right-handed,180.4,26.20,181.0,1.0,Car,17.0,0.881,36.0,Soccer,846.0,912.0,950.0,950.0,1000.0,1000.0
482,USA,CA,Female,16,Right-handed,NaN,NaN,NaN,1.0,Car,15.0,0.420,39.0,Walking/Hiking,NaN,NaN,NaN,NaN,NaN,NaN
483,USA,SC,Male,18,Right-handed,181.0,29.00,194.0,1.0,Car,10.0,0.453,73.0,Baseball/Softball,800.0,500.0,1000.0,NaN,50.0,100.0
484,USA,KY,Male,17,Right-handed,184.0,27.00,185.0,2.0,Car,22.0,0.438,35.0,Walking/Hiking,950.0,800.0,950.0,NaN,500.0,900.0
485,USA,CA,Female,11,Right-handed,155.0,22.90,150.0,2.0,Car,4.0,0.299,38.0,Dancing,1000.0,1000.0,1000.0,1000.0,513.0,743.0
486,USA,GA,Male,16,Right-handed,175.0,31.00,183.0,2.0,Car,25.0,0.456,38.0,Basketball,112.0,96.0,476.0,471.0,888.0,914.0
487,USA,AZ,Female,16,Right-handed,165.1,22.50,168.0,1.0,Car,11.0,0.360,35.0,Swimming,412.0,476.0,251.0,246.0,1000.0,1000.0
488,USA,SC,Male,15,Right-handed,170.0,26.00,164.0,1.0,Car,8.0,0.883,103.0,Golf,600.0,500.0,750.0,500.0,500.0,500.0
489,USA,NH,Male,17,Ambidextrous,170.0,22.00,165.0,0.0,Bus,5.0,0.290,36.0,Martial Arts,0.0,0.0,0.0,0.0,1.0,1.0
490,USA,CA,Female,17,Right-handed,165.0,23.00,167.0,2.0,Car,5.0,0.390,33.0,None,780.0,960.0,850.0,840.0,1000.0,1000.0
491,USA,CO,Female,15,Right-handed,167.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,USA,CA,Female,17,Right-handed,157.4,NaN,NaN,2.0,Car,10.0,0.468,41.0,Soccer,100.0,50.0,45.0,30.0,60.0,70.0
493,USA,GA,Male,17,Right-handed,183.0,31.00,190.0,2.0,Car,4.0,0.329,36.0,Golf,69.0,69.0,69.0,NaN,69.0,69.0
494,USA,PA,Male,16,Right-handed,183.0,26.00,189.0,2.0,Bus,30.0,0.300,41.0,Other,807.0,861.0,845.0,845.0,861.0,872.0
495,USA,IN,Male,18,Right-handed,180.0,25.00,175.0,1.0,Car,5.0,0.300,45.0,None,1000.0,1000.0,1000.0,NaN,1000.0,1000.0
496,USA,NJ,Female,17,Right-handed,NaN,25.00,186.0,2.0,Walk,3.0,NaN,NaN,Soccer,900.0,900.0,900.0,NaN,1000.0,600.0
497,USA,PA,Female,10,Right-handed,140.0,22.50,138.0,2.0,Car,2.0,0.484,55.0,Gymnastics,0.0,1000.0,1000.0,1000.0,1000.0,1000.0
498,USA,CA,Male,17,Right-handed,182.9,26.50,182.9,3.0,Car,30.0,0.318,40.0,Soccer,700.0,700.0,1000.0,900.0,600.0,1000.0
499,USA,SC,Female,16,Left-handed,152.0,25.00,152.0,2.0,Car,10.0,0.656,27.0,Basketball,540.0,1000.0,417.0,NaN,759.0,1000.0

There are two problems with this data: one is that some of the values appear to be missing, or incorrect. Another is that there is so much data contained in this data set that it becomes difficult to focus in on the specifics. In order to focus in on certain areas of the data, let's ask targeted questions about this data that focuses on more narrow criteria:
• Are more students right handed or left handed?
• What is the most popular sport among students of each country?
• What is the average time it takes a student to get to school in each country?
• In which country are students most concerned about reducing pollution?

Are more students right handed or left handed?

In [47]:
studentdata.groupby('Country')['Handed'].value_counts()

Country      Handed
Australia    Right-handed    141
             Left-handed      16
             Ambidextrous     13
Canada       Right-handed     88
             Ambidextrous      8
             Left-handed       4
New Zealand  Right-handed     61
             Left-handed       9
             Ambidextrous      4
UK           Right-handed     46
             Left-handed       9
             Ambidextrous      1
USA          Right-handed     89
             Left-handed       7
             Ambidextrous      3
Name: Handed, dtype: int64

In all five of the countries surveyed, there are more right handed students than left handed students.

What is the most popular sport among students of each country?

In [48]:
studentdata.groupby('Country')['Favourite_physical_activity'].value_counts()

Country    Favourite_physical_activity
Australia  Football/Soccer                33
           Netball                        22
           Other activities/sports        22
           Dancing                        14
           Basketball                     10
           Hockey (Field)                 10
           Tennis                          9
           Rugby Union                     6
           Cricket                         5
           Swimming                        5
           Gymnastics                      4
           Martial arts                    4
           Rugby League                    4
           Athletics                       3
           Baseball/Softball               3
           Cycling                         3
           Table Tennis                    3
           Walking/Hiking                  3
           Skateboarding/Rollerblading     2
           Bowling                         1
           Golf                            1
           Hockey (Ice)                    1
           None                            1
           Rowing                          1
Canada     Football/Soccer                15
           Hockey (Ice)                   15
           Basketball                     13
           Dancing                        11
           Swimming                       11
           Other activities/sports        10
                                          ..
UK         Athletics                       3
           Rugby Union                     2
           Table Tennis                    2
           Baseball/Softball               1
           Basketball                      1
           Bowling                         1
           Gymnastics                      1
           Hockey (Field)                  1
           Netball                         1
           Rowing                          1
           Swimming                        1
           Tennis                          1
USA        Other                          14
           Baseball/Softball              10
           Basketball                      8
           Football (American)             8
           Soccer                          8
           Swimming                        8
           Dancing                         7
           Walking/Hiking                  6
           Martial Arts                    5
           Running/Jogging                 4
           Golf                            3
           None                            3
           Tennis                          3
           Athletics                       2
           Gymnastics                      2
           Table Tennis                    2
           Bowling                         1
           Rowing                          1
Name: Favourite_physical_activity, dtype: int64

What is the average time it takes a student to get to school in each country?

In [49]:
studentdata.groupby('Country')['Travel_time_to_School'].mean().sort_values(ascending=False)

Country
UK             19.964286
New Zealand    17.297297
Canada         16.950000
USA            16.885417
Australia      15.923529
Name: Travel_time_to_School, dtype: float64

Students in the UK have the longest commute to school on average, at nearly 20 minutes. Students in Australia have the shortest commute on average, with nearly 16 minutes.

In which country are students most concerned about reducing pollution?

In [50]:
studentdata.groupby('Country')['Importance_reducing_pollution'].mean().sort_values(ascending=False)

Country
USA            886.375000
Australia      712.538922
New Zealand    702.702703
Canada         696.480000
UK             578.196429
Name: Importance_reducing_pollution, dtype: float64

According to the importance placed on reducing pollution, on average, students in the US are the most concerned about reducing pollution. Students in the UK are the least concerned about this issue.